.dark-mode{
    background-color: #18191a;
    color: #ffffff;
    /* transition: ease-in 0.2s; */
}

.dark-mode button{
    background-color: #18191a;
    border: 1px solid #555;
    color: #fff;
}

.dark-mode .header-search-btn{
    border: 0px solid;
}

.dark-mode nav{
    background-color: #18191a;
}


.dark-mode .nav-list li{
    color: #fff;
}


.dark-mode .nav-list li:hover{
    background-color: #222;
}



.dark-mode .nav-list-active{
}


.dark-mode .search-form{
    background-color: #4e4f50;
    color: #fff;

}

.dark-mode .heading-paragraph h1{
    color: #fff;
}


.dark-mode .heading-paragraph p{
    color: #fff;
}

.dark-mode .active-slider-dot{
    background-color: #fff;
}

.dark-mode #toggle{
    background-color: transparent;
    border: 0px solid #555;
    color: #fff;
}


.dark-mode #toggle-mobile{
   color: #fff;
  }


.dark-mode #sidebar .nav-list-active-mobile {
    background-color: #222222;
    border-radius: 5px;
  }

  .dark-mode #sidebar {
    background-color: #18191a;
    border: 1px solid #444;
  }

  .dark-mode #sidebar a {
   color: #fff;
   border-bottom: 0px;
  }

  .dark-mode #sidebar a:hover {
    background-color: #222;
  }


.dark-mode footer{
    background-color: #18191a;

}

.dark-mode footer a{
    color: #fff;
}

.dark-mode #product-info-spec {
    color: #fff;
}


.dark-mode #product-info {
    color: #fff;
}



.dark-mode .form-top-text{
    color: #fff;
}

.dark-mode .h1-form{
    color: #fff;
}

.dark-mode .form-label{
    color: #fff;
}

.dark-mode .form-input{
    color: #fff;
    background-color: #18191a;
    border-color: #666;
}



.dark-mode .hr-form{
    border: none;
    height: 0px;
    background-color: #efefef; /* Modern Browsers */
}


@media screen and (max-width: 1100px) {

    .dark-mode nav{
        border-bottom: 1px solid #444;
    }

}
