<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

@*Body*@
<body>
    <div>
        @RenderBody()
    </div>

    @*Footer*@
    <footer>
        &copy; @DateTime.Now.Year;
    </footer>
</body>


s
</html>

